azul_turqueza = #5ec1b9
azul_verda = #AAAAAA
gris_fondo = #F5F5F5

a
	text-decoration none
body
	font-family 'Comfortaa'
	font-size 18px

figure
	margin 0 0
header
	padding-top 1.5em
	background gris_fondo
h1
	font-family 'Poiret One'
.logo
	img
		margin-top 40%

.curr
	background gris_fondo
	padding 20px 0px
	margin 0 auto
	width 100%

.center-text
	text-align center
.serv
	padding 20px 5px
	ul
		li
			font-size 1.2em
			line-height 1.6em

.cont
	background azul_turqueza
	margin 0 auto
	padding 20px 0px
	width 100%

.form-c
	border-bottom 1px solid gray
.info
	padding 20px 0px
.subm
	width 100%

.menu
	ul
		margin 0
		display block
		padding 0
		width 100%
		li

			list-style none
			padding 0
			width 50%

			a
				background azul_turqueza
				color black
				display block
				font-size 1.4em
				font-family 'Poiret One'
				padding 14px 0px
				&:active
					background azul_verda
					padding-top 15px
					padding-bottom 13px
@media screen and (min-width 420px)
	.logo
		img
			margin-top 10%

@media screen and (min-width:642px)

	header
		border-bottom 10px solid gray
		//max-width 1126px
		margin 0 auto
	.logo
		img
			margin-top 0
	.menu
		ul
			float right
			width 50%
			li
				a
					background gris_fondo

					&:active
						background gris_fondo

	p
		padding 0px 50px

	.serv
		margin 30px 0px
		font-size 1em
		margin 0 auto

	.form-c
		border-bottom 0px solid

	.info
		font-size 1.6em

	.subm
		float right
		width 30%

