@import "normalize.styl"

animacion(parametro)
	-webkit-animation parametro
	-moz-animation parametro
	-o-animation parametro
	-ms-animation parametro
	animation parametro

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ihv6w');
	src:url('../fonts/icomoon.eot?#iefix-ihv6w') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ihv6w') format('woff'),
		url('../fonts/icomoon.ttf?-ihv6w') format('truetype'),
		url('../fonts/icomoon.svg?-ihv6w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


azul_turqueza = #5ec1b9
gris_fondo = #F5F5F5
boton = #1e7d76

a
	text-decoration none
body
	font-family 'Varela'
	font-size 18px

figure
	margin 0 0
header
	border-bottom 15px solid gray
	padding-top 1.5em
	background gris_fondo
h1
	font-family 'Varela'
.logo
	img
		margin-top 40%
h2
	font-family 'Varela'
	font-size 1em
	font-weight bold

.telefono
	&:before
		content "\e600"
		font-family "icomoon"

.correo
	&:before
		content "\e601"
		font-family "icomoon"
.curr
	background gris_fondo
	padding 20px 0px
	margin 0 auto
	width 100%

.center-text
	text-align center
.serv
	padding 20px 5px
	ul
		li
			font-size 1.2em
			line-height 1.6em

.cont
	background azul_turqueza
	margin 0 auto
	padding 20px 0px
	width 100%

.form-c
	border-bottom 1px solid gray
.info
	padding 20px 0px

.subm
	width 100%
.cp
	font-size 0.8em

.menu
	position fixed
	bottom 0
	z-index 123
	ul
		margin 0
		display block
		padding 0
		width 100%
		li

			list-style none
			padding 0
			width 33.33%
			&:nth-child(even)
				border-left 1px solid white
				border-right 1px solid white

			a
				background boton
				color white
				display block
				font-size 1em
				font-family 'Maven Pro'
				padding 18px 0px 18px 0px
				&:active
					padding-top 19px
					padding-bottom 17px

//yo agregue esto XD
.mov_serv
	display inline-block


@keyframes linea
	0%
		border-bottom 1px transparent

	100%
		border-bottom 5px solid azul_turqueza


@media screen and (min-width 420px)
	.logo
		img
			margin-top 10%

@media screen and (min-width:642px)

	header
		border-bottom 10px solid gray
		//max-width 1126px
		margin 0 auto
	h2
		font-size 1.6em
	.logo
		img
			margin-top 0
	.menu
		position relative
		ul
			float right
			width 50%
			li
				width 50%
				&:nth-child(even)
					border-left 0px solid white
					border-right 0px solid white

				a
					font-size 1.4em
					background transparent
					border-bottom 5px solid transparent
					color #222222
					&:active
						background gris_fondo
					&:hover
						-webkit-animation 0.2s linea
						border-bottom 5px solid azul_turqueza
	.mov_serv
		display none

	p
		padding 0px 50px

	.serv
		margin 30px 0px
		margin 0 auto
		ul
			li
				font-size 1.3em
				line-height 2em
	.form-c
		border-bottom 0px solid

	.info
		p
			margin-top 10%
			font-size 1.2em

	.subm
		float right
		width 30%
